@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Klavika";
  src: url("../fonts/klavika/Klavika-Regular.woff2") format("woff2"),
    url("../fonts/klavika/Klavika-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Klavika";
  src: url("../fonts/klavika/Klavika-Bold.woff2") format("woff2"),
    url("../fonts/klavika/Klavika-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Questa Sans";
  src: url("../fonts/QuestaSansRegular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
